!jest.config.js
*.d.ts
node_modules
.vscode

.classpath.txt
.idea
.settings
.vscode
*.iml
.code

# CDK asset staging directory
.cdk.staging
cdk.out
dist
*.swp
cdk.context.json
package-lock.json
yarn.lock
