!jest.config.js
*.d.ts
node_modules
.vscode
.local-pack
.classpath.txt
.idea
.settings
.vscode
*.iml
.code
*.tgz
# CDK asset staging directory
.cdk.staging
cdk.out
dist
*.swp
cdk.context.json
package-lock.json
yarn.lock
docs/api
# mkdocs artifact
site
# macOS extraneous file
.DS_STORE
